@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:ital,wght@0,300;0,400;0,600;0,900;1,500;1,700;1,800&display=swap");
html,
body {
  padding: 0px;
  margin: 0; /* interferes with 100vw */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #ededed;
}
h3 {
  font-family: "Poppins", sans-serif;
}
::placeholder {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides {
  position: relative;
  width: 90%;
  left: -100px;
  opacity: 1;
}
@media (max-width: 768px) {
  .slides {
    width: 100%;
    left: 0px;
  }
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
  color: black;
}
